.footer{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000 ;
    color: #8f91ae;
}
.footer span{
    font-weight: bold;
    color: #8e94f2;
}